* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
}

body > * {
    margin: 0.25em;
}

.profile {
    display: flex;
    align-items: center;
}

.profile .img {
    width: 150px;
    height: 150px;
    background: url("profile.png") no-repeat center;
    background-size: 155px auto;
    border-radius: 100%;
    margin-right: 1em;
}

@media only screen and (max-width: 48em) {
    .profile {
        flex-direction: column;
    }

    .profile .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile .img {
        margin-right: 0;
    }
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h3, h4 {
    font-weight: normal;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #0a0a0a;
    }

    h1, h3, h4 {
        color: white;
    }
}
